<div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Mi Perfil /</span> Perfil</h4>

              <div class="row">
                <div class="col-md-12">

                  <div class="card mb-4">
                    <h5 class="card-header">Detalles del Perfil</h5>
                
                    <hr class="my-0" />
                    <div class="card-body">
                      <form id="formActualizarPerfil" method="POST" onsubmit="return false">
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">NOMBRE COMPLETO</label>
                            <input
                              class="form-control"
                              type="text"
                              id="nombreCompletoActualizar"
                              name="firstName"
                              autofocus
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">CEDULA</label>
                            <input
                              class="form-control"
                              type="text"
                              id="cedulaActualizar"
                              name="firstName"
                              autofocus
                            />
                          </div>
                         
                          <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">E-mail</label>
                            <input
                              class="form-control"
                              type="text"
                              id="emailActualizar"
                              name="email"
                            
                              placeholder="email@example.com"
                            />
                          </div>
                          
                          <div class="mb-3 col-md-6">
                            <label class="form-label" for="phoneNumber">NÚMERO DE TELÉFONO</label>
                            <div class="input-group input-group-merge">
                              <span class="input-group-text">CR (+506)</span>
                              <input
                                type="text"
                                id="telefonoActualizar"
                                name="phoneNumber"
                                class="form-control"
                                placeholder="72804659"
                              />
                            </div>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="address" class="form-label">Dirección Exacta</label>
                            <input type="text" class="form-control" id="direccionActualizar" name="address" placeholder="Dirección Exacta" />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="state" class="form-label">Provincia</label>
                            <input class="form-control" type="text" id="provinciaActualizar" name="state" placeholder="Provincia" />
                          </div>
                        
                          <div class="mb-3 col-md-12">
                            <label class="form-label" for="country">País</label>
                             <input class="form-control" type="text" id="paisActualizar" name="state" placeholder="País" />
                          </div>
                         
                      
                         
                        </div>
                        <div class="mt-2">
                          <button type="submit" class="btn btn-primary me-2">Guardar Cambios</button>
                         
                        </div>
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
                   <div class="card mb-4">
                    <h5 class="card-header">Actualización de Contraseña</h5>
                
                    <hr class="my-0" />
                    <div class="card-body">
                      <form id="formActualizarContrasenna">
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">NUEVA CONTRASEÑA</label>
                            <input
                              class="form-control"
                              type="password"
                              id="contrasennaActualizar"
                              name="firstName"
                              autofocus
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">CONFIRMAR CONTRASEÑA</label>
                            <input
                              class="form-control"
                              type="password"
                              id="contrasennaConfirmarActualizar"
                              name="firstName"
                              autofocus
                            />
                          </div>
                         
                        </div>
                        <div class="mt-2">
                          <button type="submit" class="btn btn-primary me-2">Actualizar Contraseña</button>
                         
                        </div>
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
                  <div class="card" id="cardVoluntariado">
                    <h5 class="card-header">¿Quieres ser voluntario?</h5>
                    <div class="card-body">
                      <div class="mb-3 col-12 mb-0">
                        <div class="alert alert-warning">
                          <h6 class="alert-heading fw-bold mb-1">Formá parte de nuestro equipo de voluntarios</h6>
                          <p class="mb-0">Marcá el check y te tomaremos en cuenta para próximos voluntariados.</p>
                        </div>
                      </div>
                      <div class="form-check mb-3">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="accountActivation"
                            id="activarVoluntariado"
                          />
                          <label class="form-check-label" id="checkActivarVoluntariado" for="accountActivation"
                            >Quiero ser voluntario</label
                          >
                        </div>
                     <form id="formActualizarVoluntario" class="d-none">

  <div class="mb-3">
    <label class="form-label">Selecciona tus habilidades</label>

    <div class="form-check">
      <input class="form-check-input habilidad" type="checkbox" value="Rescate">
      <label class="form-check-label">Rescate de animales</label>
    </div>

    <div class="form-check">
      <input class="form-check-input habilidad" type="checkbox" value="Veterinaria">
      <label class="form-check-label">Apoyo veterinario</label>
    </div>

    <div class="form-check">
      <input class="form-check-input habilidad" type="checkbox" value="Alimentación">
      <label class="form-check-label">Alimentación</label>
    </div>

    <div class="form-check">
      <input class="form-check-input habilidad" type="checkbox" value="Limpieza">
      <label class="form-check-label">Limpieza</label>
    </div>

  </div>

  <div class="mb-3 col-md-6">
    <label class="form-label">Disponibilidad</label>
    <input class="form-control" id="disponibilidadVoluntario" placeholder="Disponibilidad" required />
  </div>

  <button type="submit" class="btn btn-danger">Quiero ser voluntario</button>
</form>
                    </div>
                  </div>
                </div>
              </div>
</div>